* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
div,
span,
article,
aside,
canvas,
figure,
figcaption,
footer,
header,
hgroup,
main,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.gameContainer {
  display: grid;
  gap: 1rem;
  height: 70dvh;
  width: 70dvw;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.cell {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.cell:hover {
  background-color: lightgray;
}
